# Docker Compose

COMPOSE_PROJECT_NAME="${USER}-prj-name"

# UID and GID of Host OS user
#   DEV_CONTAINER_UID: Result of `id -u` command
#   DEV_CONTAINER_GID: Result of `id -u` command
DEV_CONTAINER_UID=1000
DEV_CONTAINER_GID=1000